[Desktop Entry]
Encoding=UTF-8
Name=Special Day Countdown
Comment=Counts down to a user-specified special day
Icon=applications-system
Type=Service

X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Nisarahmed Hidayeti
X-KDE-PluginInfo-Email=nisarahmed@example.com
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-Name=com.github.nisarahmed-hidayeti.special-day-count-down
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-Category=Date and Time


Name[nl]=Speciale Dag Countdown
Name[ru]=Обратный отсчет до особого дня
Comment[nl]=Telt af naar een door de gebruiker opgegeven speciale dag
Comment[ru]=Считает время до пользовательского особого дня
